# Соревнования про медицину

https://inclass.kaggle.com/c/competition-2-yandex-shad-spring-2017

В файлах X.train и y.train задана обучающая выборка, X.test - выборка, для которой необходимо сделать предсказание.
Признаки

Для каждого пациента задано описание в виде 1330 признаков:

    Столбцы с V2 по V331 соответствуют различным медицинским показателям.
    Столбцы с V332 по V1331 соответствуют генетическими данными пациента.

Обратите внимание, что в случае неизвестного значения указано NaN.
Типы признаков

В файле MetaData содержится подробное описание типов каждого столбца признаков:

    Numeric - числовые признаки;
    Category - порядок значений нам не важен;
    Ordered Category - порядок значений важен;
    Генетические данные - их значения соответствуют частоте конкретного аллеля.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# For sklearn 0.18
# import sklearn.model_selection as skcv
import sklearn.cross_validation as skcv
import sklearn.ensemble as sk
import sklearn.preprocessing as skpp

In [21]:
meta_data = pd.read_csv('cont_02/MetaData.csv')
X_train = pd.read_csv('cont_02/X.train.csv')
X_test = pd.read_csv('cont_02/X.test.csv')
Y_train = pd.read_csv('cont_02/y.train.csv')

In [29]:
print('X_train.shape=', X_train.shape)
X_train["V234"]

X_train.shape= (4099, 1330)

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
5       0.000000
6       0.000000
7       0.000000
8       0.000000
9       0.333333
10      0.000000
11      0.000000
12      0.000000
13      0.000000
14      0.000000
15      0.000000
16      0.000000
17      0.000000
18      0.000000
19      0.000000
20      0.000000
21      0.000000
22      0.000000
23      0.000000
24      0.000000
25      0.000000
26      0.000000
27      0.000000
28      0.000000
29      0.000000
          ...
4069    0.000000
4070    0.000000
4071    0.000000
4072    0.000000
4073    0.000000
4074    0.000000
4075    0.000000
4076    0.000000
4077    0.166667
4078    0.000000
4079    0.166667
4080    0.000000
4081    0.000000
4082    0.000000
4083    0.166667
4084    0.000000
4085    0.000000
4086    0.000000
4087    0.000000
4088    0.000000
4089    0.000000
4090    0.000000
4091    0.000000
4092    0.000000
4093    0.000000
4094    0.166667
4095    0.000000
4096    0.000000
4097    0.333333
4098    0.000000
Name: V234, dtype: float64

In [27]:
meta_data.head(20)

   varnum  type Column Type
0      V2  char     Numeric
1      V3   num    Category
2      V4   num    Category
3      V5   num    Category
4      V6   num    Category
5      V7   num    Category
6      V8   num    Category
7      V9   num    Category
8     V10   num    Category
9     V11   num    Category
10    V12   num    Category
11    V13   num    Category
12    V14   num    Category
13    V15   num    Category
14    V16   num    Category
15    V17   num    Category
16    V18   num    Category
17    V19   num    Category
18    V20   num    Category
19    V21   num    Category

In [25]:
Y_train.head(10)

   label
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0

## Базовое решение

In [7]:
imputer = skpp.Imputer(strategy='most_frequent')
X_train = imputer.fit_transform(X_train.values)
X_test = imputer.transform(X_test.values)

In [9]:
clf = sk.RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=1)
clf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [11]:
-np.mean(skcv.cross_val_score(clf, X_train, Y_train.label.values, scoring='log_loss', cv=5))

0.22601795516555662

In [12]:
clf.fit(X_train, Y_train.label.values)
clf.predict_proba(X_test)[:, 1]

array([ 0.   ,  0.02 ,  0.02 , ...,  0.075,  0.01 ,  0.095])